<div class="wrapper fadeInDown">

        <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="/assets/img/caipira-da-gema-logo.svg" alt="Caipira da Gema" style="width: 96px; height: 96px; border-radius: 50%;"/>
        </div>
    
        <!-- Login Form -->
        <form #form="ngForm" [formGroup]="loginForm" (submit)="login()">
            <input type="text" id="login" formControlName="login"  class="fadeIn second" name="login" placeholder="login">
            <ocs-vmessage
                *ngIf="loginForm.get('login').errors?.required && form.submitted"
                text = "Informe o login"
            ></ocs-vmessage>            
            <input type="password" id="password" formControlName="senha" class="fadeIn third" name="login" placeholder="senha">
            <ocs-vmessage
                *ngIf="loginForm.get('senha').errors?.required && form.submitted"
                text = "Senha inválida"
            ></ocs-vmessage>            
            <input type="submit" class="fadeIn fourth" value="Entrar">
        </form>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
    
        </div>
    
        </div>

</div>