<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <div class="card-title">
                  Vendas
                  <button mat-raised-button class="btn btn-danger pull-right btn-sm" (click)="novaVenda()"><i class="material-icons">add</i>Nova</button>
                </div>
                <p class="card-category">Cadastro de Vendas
                </p>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-sm-12">
                        <hr>
                        <mat-accordion>
                            <mat-expansion-panel class="panel-margin" [expanded]="this.panelOpenState" (opened)="this.panelOpenState=true">
                              <mat-expansion-panel-header>
                                <mat-panel-title >
                                  Filtros
                                </mat-panel-title>
                                <mat-panel-description>
                                  
                                </mat-panel-description>
                              </mat-expansion-panel-header >
                                <form #form="ngForm" [formGroup]="formFiltroVendas" (submit)="filtrarVendas()">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <mat-form-field >
                                                <input matInput type="date" placeholder="De" formControlName="PeriodoDe" >
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-form-field >
                                                <input matInput type="date" placeholder="Até" formControlName="PeriodoAte" >
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 ">
                                            <mat-form-field >
                                                <input matInput type="text" placeholder="Cliente" formControlName="Cliente"  [matAutocomplete]="auto">
                                            </mat-form-field>
                                        </div>
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayClienteFn">
                                            <mat-option *ngFor="let cliente of (ClientesFiltrados | async)" [value]="cliente">
                                            <span>{{cliente.Nome}}</span>
                                            </mat-option>
                                        </mat-autocomplete>  
                                        <div class="col-md-4"                              >
                                            <mat-form-field>
                                                <mat-label>Tipo de Documento</mat-label>
                                                <mat-select formControlName="IDTipo_Documento">
                                                  <mat-option *ngFor="let tipo_documento of tipos_Documento" [value]="tipo_documento.ID"  >
                                                    {{tipo_documento.Nome }}
                                                  </mat-option>
                                                </mat-select>
                                            </mat-form-field>                                                 
                                        </div>
                                        <div class="col-md-4 ">
                                            <mat-form-field >
                                                <input matInput type="text" placeholder="Número do Documento" formControlName="NumDocumento">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field >
                                                <input matInput type="date" placeholder="Vencimento a partir de" formControlName="PeriodoDeVencimento" >
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field >
                                                <input matInput type="date" placeholder="Vencimento Até" formControlName="PeriodoAteVencimento" >
                                            </mat-form-field>
                                        </div>
                                    </div>                                    
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <mat-form-field>
                                                <mat-label>Status do Pagamento</mat-label>
                                                <mat-select formControlName="StatusPagamento">
                                                    <mat-option value="">Ambos</mat-option>
                                                    <mat-option value="nao_pago">Não Pago</mat-option>
                                                    <mat-option value="pago">Pago </mat-option>
                                                </mat-select>
                                            </mat-form-field>                                                 
                                        </div>                     
                                        <div class="col-md-3">
                                            <mat-form-field >
                                                <input matInput type="date" placeholder="Pagamento a partir de" formControlName="PeriodoDePagamento" >
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field >
                                                <input matInput type="date" placeholder="Pagamento Até" formControlName="PeriodoAtePagamento" >
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3"                              >
                                            <mat-form-field>
                                                <mat-label>Forma de Pagamento</mat-label>
                                                <mat-select formControlName="IDFormaPagamento">
                                                    <mat-option *ngFor="let forma_pagamento of formas_Pagamento" [value]="forma_pagamento.ID"  >
                                                    {{forma_pagamento.Nome }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>                                                 
                                        </div>                                        
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-success pull-right"> Filtrar</button>
                                            <button type="reset" class="btn btn-default pull-right"> Limpar</button>
                                        </div>
                                    </div>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <hr>
                        <div class="card-content table-responsive table-full-width">
                            <table class="table">
                              <thead class="text-danger">
                                <th>Data</th>
                                <th>Cliente</th>
                                <th>Valor</th>
                                <th>Editar</th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let venda of Vendas">
                                  <td>{{venda.Data | date: 'dd/MM/yyyy'}}</td>
                                  <td>{{venda.NomeCliente}}</td>
                                  <td>{{venda.ValorPago}}</td>
                                  <td (click)="editaVenda(venda.ID)" ><i class="material-icons edit-venda">edit_note</i></td>
                                </tr>
                              </tbody>
                            </table>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 pull-right">
                        <div class="card card-stats ">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">payments</i>
                                </div>
                                <p class="card-category">Total de Vendas</p>
                                <h3 class="card-title">
                                    <small>R$</small>
                                    {{this.Total}}
                                </h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons text-warning">attach_money</i>
                                    <a href="javascript:void(0)">Total das vendas realizadas</a>
                                </div>
                            </div>
                        </div>
                    </div>                     
                </div>
            </div>
        </div>
    </div>
</div>