<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <div class="card-title">
                  Insumo
                </div>
                <p class="card-category">Cadastro de Insumo
                </p>
            </div>
            <div class="card-body ">
                <form #form="ngForm" [formGroup]="formInsumo" (submit)="salvaInsumo()">
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field >
                                <input matInput type="text" placeholder="Nome" formControlName="Nome">
                                <mat-error *ngIf="this.formInsumo.get('Nome').errors?.required && form.submitted">Informe o nome do insumo</mat-error>
                                <mat-error *ngIf="this.formInsumo.get('Nome').errors?.nomeExists">Já existe insumo com este nome cadastrado</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-label>Unidade de Medida</mat-label>
                                <mat-select formControlName="IDUnidade_Medida">
                                  <mat-option *ngFor="let unidade_medida of unidades_medida" [value]="unidade_medida.ID"  >
                                    {{unidade_medida.Nome + " - " + unidade_medida.Sigla}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="this.formInsumo.get('IDUnidade_Medida').errors?.required && form.submitted">Informe unidade de medida</mat-error>
                            </mat-form-field>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field >
                                <textarea matInput placeholder="Descrição" formControlName="Descricao"></textarea>
                            </mat-form-field>                         
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="1" formControlName="Ativo">
                                    Ativo
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>                    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success">Salvar</button>
                            <button type="button" class="btn btn-white" (click)="cancelar()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>